.item, .item-full {
    text-align: center;
    padding: 12px;
}

.item {
    overflow: hidden;
    box-shadow: 0 2px 10px rgb(71, 69, 69);
    border-radius: 5px;
    justify-content: space-between;
    background-color: #3f3f3f;
    color:#FFF;
    flex: 1 0 21%; /* explanation below */
}

.item#main:hover, .item#cart img:hover {
    cursor: pointer;
    transition: transform 200ms ease-in;
    background-color: rgb(243, 154, 122);
    flex: 1 0 21%; /* explanation below */
}

.item img {
    width:150px;
    height:150px;
}

.item-full img {
    width:400px;
}