.item, .item-full {
    text-align: center;
    padding: 12px;
}

.item {
    background-color: #3f3f3f;
    color:#FFF;
    flex: 1 0 21%; /* explanation below */
}

.item#main:hover, .item#cart img:hover {
    cursor: pointer;
}

.item img {
    width:100px;
    height:100px;
}

.item-full img {
    width:400px;
}