.items {
    flex-wrap: wrap;
    display:flex;
    gap:16px;
    margin: 16px;
    justify-content:center;
}

button {
    background-color: rgb(243, 154, 122);
    font-size: 20px;
    color: white;
    border: solid white 2px;
    padding: 12px;
}

button:hover {
    background-color: rgb(243, 187, 166);
    font-size: 20px;
    color: white;
    border: solid white 2px;
    padding: 12px;
    cursor: pointer;
}