nav {
    background-color: rgb(252, 117, 67);
    display: flex;
    position:relative;
    padding: 30px;
    font-size: 30px;
}

nav img{
    height: 3rem;
}

nav .left {
    flex: 1 0 -2%; /* explanation below */
    justify-content: left;
    text-align: left;
}

nav .right {
    flex: 1 0 25%; /* explanation below */
    justify-content: right;
    text-align: right;
}

nav .center {
    flex: 1 0 25%; /* explanation below */
    justify-content: center;
}

.nav-item {
    margin: 10px;
}

nav a {
    color:#FFF;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

a:link {
    padding: 15px;
}
